<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Analysis</title>
    <link rel="stylesheet" href="/assets/style.css"/>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="main">
        <div class="logo">
            <img src="/assets/logo.svg" alt="Logo"/>
        </div>
        <div class="landing-container">
            <div class="h1">
                Analyze your code with our tool.
            </div>
            <div class="blocks">
                <div class="block">
                    <div class="block-icon">
                        <img src="/assets/termo-icon.svg" alt="Termo icon">
                    </div>
                    <div class="block-title">
                        Metrics
                    </div>
                    <div class="divider">
                        <svg width="106" height="4" viewBox="0 0 106 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2H105.5" stroke="#EFE9F4" stroke-width="3"/></svg>
                    </div>
                    <div class="description">
                        See your code in a perspective of different metrics
                    </div>
                </div>
                <div class="block">
                    <div class="block-icon">
                        <img src="/assets/speedometer-icon.svg" alt="Speedometer icon">
                    </div>
                    <div class="block-title">
                        Optimization
                    </div>
                    <div class="divider">
                        <svg width="106" height="4" viewBox="0 0 106 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2H105.5" stroke="#EFE9F4" stroke-width="3"/></svg>
                    </div>
                    <div class="description">
                        See, if your code is optimized or not
                    </div>
                </div>
                <div class="block">
                    <div class="block-icon">
                        <img src="/assets/mantain-icon.svg" alt="Mantain icon">
                    </div>
                    <div class="block-title">
                        Maintain
                    </div>
                    <div class="divider">
                        <svg width="106" height="4" viewBox="0 0 106 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2H105.5" stroke="#EFE9F4" stroke-width="3"/></svg>
                    </div>
                    <div class="description">
                        Get an instant overview on a mintainability index of the modules in your code
                    </div>
                </div>
            </div>
            <div class="button-container">
                <a class="btn-next-step-upload" onclick="nextUpload()">Analyze my code</a>
            </div>
        </div>
    </div>
    <!--<h1>Code Analysis</h1>
    <form>
        <label for="file">Select a code package to analyze:</label><br>
        <input type="file" id="file" name="file"><br>
        <button type="button" onclick="analyze()">Analyze</button>
    </form>
    -->
 
    <!--<div id="result">
        <div class="result_res" id="result_res"></div>
    </div>
    -->
 
    <script src="/assets/app.js"></script>
</body>
</html>